<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form " lay-filter="editFiled"  >
    <div class="layui-form-item" >
        <label class="layui-form-label required">科室/学校</label>
        <div class="layui-input-block">
            <input type="text" name="deptName" lay-verify="required"  lay-reqtext="不能为空" placeholder="请输入部门名" value=""
                   class="layui-input">
            <tip>填写名称对应考勤汇总表中sheet部门名称</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">上午上班时间</label>
        <div class="layui-input-inline">
            <input type="text" name="morningStart" id="morningStart" lay-verify="不能为空" placeholder="HH:mm"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">上午下班时间</label>
        <div class="layui-input-inline">
            <input type="text" name="morningEnd" id="morningEnd" lay-verify="不能为空" placeholder="HH:mm"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">下午上班时间</label>
        <div class="layui-input-inline">
            <input type="text" name="afternoonStart" id="afternoonStart" lay-verify="不能为空"
                   placeholder="HH:mm" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">下午下班时间</label>
        <div class="layui-input-inline">
            <input type="text" name="afternoonEnd" id="afternoonEnd" lay-verify="不能为空" placeholder="HH:mm"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer
            , laydate = layui.laydate;
        $ = layui.$;

        //日期
        laydate.render({
            elem: '#morningStart',
            trigger: 'click',
            type: 'time', //设置日期类型
            format: 'HH:mm'
        });
        laydate.render({
            elem: '#morningEnd',
            trigger: 'click',
            type: 'time', //设置日期类型
            format: 'HH:mm'
        });
        laydate.render({
            elem: '#afternoonStart',
            trigger: 'click',
            type: 'time', //设置日期类型
            format: 'HH:mm'
        });
        laydate.render({
            elem: '#afternoonEnd',
            trigger: 'click',
            type: 'time', //设置日期类型
            format: 'HH:mm'
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {

            $.post("/checking/saveWorkTime",data.field,function(res){
                if(res.code==200){
                    debugger
                    layer.msg("保存成功");
                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);
                    parent.layui.table.reload("test");
                }else{
                    layer.msg("保存失败");
                }
            });
               




            return false;
        });

    });
    function child(dataFromFather) {
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;

            // 表格赋值
            form.val('editFiled', {
                "deptName": dataFromFather.deptName,
                "morningStart": dataFromFather.morningStart,
                "morningEnd": dataFromFather.morningEnd,
                "afternoonStart": dataFromFather.afternoonStart,
                "afternoonEnd": dataFromFather.afternoonEnd,
              //  "sendPhone": dataFromFather.sendPhone,
            });
        });
    }

</script>
</body>
</html>